{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    /* Center the button and text */
    .pronunciation-container {
        text-align: center;
        margin-top: 50px; /* Adjust as needed */
    }

    /* Style the "Pronounce the Tamil word displayed below" text */
    .pronounce-text {
        color: white;
        font-size: 24px; /* Adjust as needed */
        font-weight: bold;
        margin-bottom: 20px; /* Add spacing below the text */
    }

    /* Style the record button */
    #recordButton {
        background-color: #4CAF50; /* Green */
        color: white;
        padding: 15px 20px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        border-radius: 8px;
        transition: background-color 0.3s;
    }

    #recordButton:hover {
        background-color: #45a049; /* Darker green on hover */
    }

    /* Style the correctness percentage message */
    #scoreDisplay {
        color: green; /* Change the text color */
        font-size: 18px; /* Adjust the font size */
        font-weight: bold; /* Make the text bold */
        margin-top: 10px; /* Add some top margin for spacing */
    }
</style>

<h2 class="wp-block-heading has-text-align-center"><br /></h2>
<div class="inline-menu-wrapper">
    <ul id="menu-phonics-1" class="inline-menu">
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7485">
            <a href="{% url 'letters' %}">Letters</a>
        </li>
        <li class=" menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7278 current_page_item menu-item-7484">
            <a href="#">Learn</a>
        </li>
    </ul>
</div>
<h2 class="wp-block-heading has-text-align-center" id="inline_menus">
    <br />Pronunciation Check
</h2>
<div class="pronunciation-container">
    <p class="pronounce-text" id="wordDisplay">{{ random_tamil_word }}</p>
    <button id="recordButton">Start Recording</button>
    <p id="scoreDisplay"></p>
    <form id="pronunciationForm">
        {% csrf_token %}
    </form>
</div>

<script src="{% static 'scripts/script.js' %}"></script>

{% endblock %}
