{% extends "base.html" %}

{% load static %}

{% block content %}
  

<h2 class="wp-block-heading has-text-align-center"><br /></h2>
<div class="inline-menu-wrapper">
  <ul id="menu-phonics-1" class="inline-menu">
    <li
      class=" menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-7278 current_page_item menu-item-7484">
      <a href="#">Letters</a>
    </li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7485">
      <a href="{% url 'learn' %}">Learn</a>
    </li>
    </li>
  </ul>
</div>

<h2 class="wp-block-heading has-text-align-center" id="inline_menus">
  <br />உயிர் எழுத்துக்கள்
</h2>
<div class="inline-menu-wrapper">
  <ul id="menu-dictionary" class="inline-menu">
    <li id="menu-item-1209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1209">
      <a href="#">அ</a>
    </li>
    <li id="menu-item-3810" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3810">
      <a href="#">ஆ</a>
    </li>
    <li id="menu-item-1648" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1648">
      <a href="#">இ</a>
    </li>
    <li id="menu-item-1519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1519">
      <a href="#">ஈ</a>
    </li>
    <li id="menu-item-1518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1518">
      <a href="#">உ</a>
    </li>
    <li id="menu-item-1517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1517">
      <a href="#">ஊ</a>
    </li>
    <li id="menu-item-1649" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1649">
      <a href="#">எ</a>
    </li>
    <li id="menu-item-1650" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1650">
      <a href="#">ஏ</a>
    </li>
    <li id="menu-item-1651" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1651">
      <a href="#">ஐ</a>
    </li>
    <li id="menu-item-1652" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1652">
      <a href="#">ஒ</a>
    </li>
    <li id="menu-item-1651" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1651">
      <a href="#">ஓ</a>
    </li>
    <li id="menu-item-1653" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1653">
      <a href="#">ஔ</a>
    </li>
  </ul>
</div>


<h2 class="wp-block-heading has-text-align-center" id="inline_menus">
  <br />மெய் எழுத்துக்கள்
</h2>
<div class="inline-menu-wrapper">
  <ul id="menu-dictionary" class="inline-menu">
    <li id="menu-item-1209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1209">
      <a href="#">க்</a>
    </li>
    <li id="menu-item-3810" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3810">
      <a href="#">ங்</a>
    </li>
    <li id="menu-item-1648" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1648">
      <a href="#">ச்</a>
    </li>
    <li id="menu-item-1519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1519">
      <a href="#">ஞ்</a>
    </li>
    <li id="menu-item-1518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1518">
      <a href="#">ட்</a>
    </li>
    <li id="menu-item-1517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1517">
      <a href="#">ண்</a>
    </li>
    <li id="menu-item-1649" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1649">
      <a href="#">த்</a>
    </li>
    <li id="menu-item-1650" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1650">
      <a href="#">ந்</a>
    </li>
    <li id="menu-item-1651" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1651">
      <a href="#">ப்</a>
    </li>
    <li id="menu-item-1652" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1652">
      <a href="#">ம்</a>
    </li>
    <li id="menu-item-1651" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1651">
      <a href="#">ய்</a>
    </li>
    <li id="menu-item-1653" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1653">
      <a href="#">ர்</a>
    </li>
    <li id="menu-item-1653" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1653">
      <a href="#">ல்</a>
    </li>
    <li id="menu-item-1653" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1653">
      <a href="#">வ்</a>
    </li>
    <li id="menu-item-1653" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1653">
      <a href="#">ழ்</a>
    </li>
    <li id="menu-item-1653" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1653">
      <a href="#">ள்</a>
    </li>
    <li id="menu-item-1653" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1653">
      <a href="#">ற்</a>
    </li>
    <li id="menu-item-1653" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1653">
      <a href="#">ன்</a>
    </li>


  </ul>
</div>


<audio id="audioPlayer"></audio>

<script>
  const audioPlayer = document.getElementById('audioPlayer');
  const menuItems = document.querySelectorAll('#menu-dictionary li');

  menuItems.forEach((item) => {
    item.addEventListener('click', (event) => {
      event.preventDefault(); // Prevent the default link behavior
      const letter = item.querySelector('a').textContent;
      console.log(letter);
      const audioFile = "{% static 'audio/Tamil-' %}" + letter + ".mp3";
      audioPlayer.src = audioFile;
      audioPlayer.play();
      // Add your custom behavior here, e.g., smooth scrolling
    });
  });

  // JavaScript code
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos || window.pageYOffset < 90) {
      document.getElementById("site-header").style.top = "0";
    } else {
      document.getElementById("site-header").style.top = "-90px";
    }
    prevScrollpos = currentScrollPos;
  }
</script>

{% endblock %}